*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    text-align: center;
    font-family: sans-serif;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #ffe2ea;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar{
    display: flex;
    margin-right: 10px;
}

.Logo{
    margin-left: 30px;
}

.Logo a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 20px;

}

.navbar a{
    display: block;
    padding: 20px 20px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.navbar a:hover{
    background:#ffd1d1;
    filter: blur(0);
    transform: scale(1.3);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url(/img/pexels-eberhard-grossgasteiger-844297.jpg) no-repeat center;
    background-size: cover;
}

.title{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;

}
p{
    margin-bottom: 40px;
    font-size: 18px;
    color: #000000;
    padding: 0 150px;
}
.btn{
    display: inline-block;
    color: #000000;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #FFBBCC;
    text-decoration: none;
    background-color: #FFBBCC;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: #FFCCCC;
    transform: scale(1.3);
}

.content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau{
    padding: 50px 0;
    background: #fff9f9;
}

.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box{
    height: 170px;
    width: 270px;
    background: #ffffff;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    margin: 20px;
}

.box-container .box i{
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #000000;
    background: #FFCCCC;
    font-size: 25px;
    margin: 10px 0;
}

.box-container .box h3{
    font-size: 20px;
    color: #000000;
}

.box-container .box p{
    padding: 0 15px;
    font-size: 16px;
}

.videos{
    background: url(/img/pexels-johannes-plenio-1103970.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

}
.about{
    background: #fff9f9;
    padding: 50px 0;
}

.box-container2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;

}

.box-container2 .box{
    width: 250px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    background: #ffffff;
    margin: 20px 20px;

}

.box-container2 .box img{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -50px;
    border: 6px solid #FFCCCC;
}

.box-container2 .box h3{
    font-size: 20px;
    color: #000000;
    padding-top: 10px;
}

.box-container2 .box p{
    font-size: 18px;
    color: #000000;
    padding: 0;
}

.box-container2 .box .stars i{
    font-size: 15px;
    color:#fff;
}

.contact{
    padding: 50px;
    background: #FFBBCC;
}

.footer-section{
    display: flex;
}

.f-links{
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

.f-links a{
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
}

@media(max-width: 768px){
    .p{
        padding: 0 50px;
    }
    .title{
        margin-bottom: 0px;
        font-size: 40px;
    }
    .sau{
        height: 100vh;
        padding: 50px 0;
    }
    .about{
        height: 100vh;
        padding: 50px 0;
    }
    .footer-section{
        display: flex;
        flex-direction: column;
    }
    .f-links{
        display: none;
    }
    .navbar{
        display: none;
    }

}