
*{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #1c2338;
}

.login-container{
    position: relative;
    width: 400px;
    background-color: #2f364b;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-container h2 {
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
}

.input-container {
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid #fff;
}

.input-container label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-family: bold;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.input-container input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: -35px 0 5px;
    color: #fff;
}

.input-container i{
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}

.forgot{
    margin: -15px 0 15px;
    font-size: .9rem;
    color: #fff;
    display: flex;
    justify-content: center;
}

.forgot label input{
    margin: 3px;
}

.forgot label a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
    font-size: .9rem;
}

.forgot label a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}

button:hover{
    opacity: calc(.9);
}

.register{
    font-size: .8rem;
    color: #fafaf9;
    text-align: center;
    margin: 20px 0 10px;
}

.register a{
    text-decoration: none;
    color: #fafaf9;
    font-weight: bold;
    transition: .3s;
}

.register p a:hover{
    text-decoration: underline;

}
